.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92px;
    top: 50%;
}

nav {
    text-align: right;
    color: black;
    font: inherit;
}
.search-bar {
    width: 40%;
    border-radius: 25px;
    height: 40px;
    text-align: left;
    border: 2px lightgray;
    border-style: solid;
    margin: 25px auto;
    position: relative;

  }
  
  input[type="text"] {
    width: 90%;
    height: 30px;
    border-radius: 4px;
    padding: 0 16px;
    margin: 3px;
    box-sizing: border-box;
    border: none;
  }
  
  .search {
    height: 40px;
    width: 24px;
    float: left;
    vertical-align: middle;
    padding: 8px;
  }
  
  .mic {
    height: 40px;
    width: 24px;
    float: right;
    vertical-align: middle;
  }


.search-bar {
    font-size: 14px;
    font-family: arial, sans-serif;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-left: 40%;
    margin-right: auto;
    padding: 10px;
}

button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom:150px;
    color: black;
  }


  .A {
      color: black;
      justify-content: space-evenly;
      margin:20px;
  }

  footer {
      display: inline;
      position: fixed;
      bottom: 0px;
      justify-content: space-between;
      background-color:rgb(240,240,240);
      min-width: 100%;
      padding: 10px;
      
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  .bottom-right-side {
    float: right;
  }

  .bottom-left-side {
    float: left;
  }